paddlepaddle-gpu==2.6.2
paddleocr==2.9.1
torch==2.4.1
easyocr==1.7.2
torchvision==0.19.1
supervision==0.18.0
openai==1.3.5
transformers==4.46.1
ultralytics==8.1.24
python-dotenv
einops==0.8.0
timm

azure-identity
opencv-python
opencv-python-headless
gradio
dill
accelerate